# === Fichiers sensibles ===
_11ty/_data/token.yml
.env
.env.local
.env.development.local
.env.test.local
.env.production.local



# === Obsidian ===
.obsidian/

# === Eleventy ===
_site/
.cache/
.eleventy-cache/
node_modules/
dist/
build/
/public
.hotreload

# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Runtime ===
pids
*.pid
*.seed
*.pid.lock
main.js.map

# === Cache npm/ESLint ===
.npm
.eslintcache

# === IDE et Éditeurs ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.swp
*.swo
*~

# === macOS ===
.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.trash
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Icon

# === Windows ===
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

# === Dossiers temporaires ===
tmp/
temp/


# === Fichiers spécifiques au projet ===
*.zip
**/*old*/
**/a_garder/
a_garder/
a_garder_config/
**/pas_utilisé/
/checkdates.mjs
.github
**/fonts/