*,
*:before,
*:after {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

body {
  font-family: var(--labeur);
  font-size: var(--labeur-size);
  line-height: var(--labeur-line-height);
  font-weight: var(--labeur-weight);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

section {
  display: block;
  padding: 0;
}

section p {
  /* margin-top: calc(var(--labeur-baseline)); */
   margin-top: 0;
   margin-bottom: 0;
   text-indent: var(--gutter);
}

section > p:first-of-type {
  text-indent: 0 !important;
}

.small-caps {
  font-variant-caps: all-small-caps;
  line-height: 0;
  font-style: inherit;
}

/* blockquote,
figure,
hr,
pre,
table {
  margin-top: calc(var(--baseline) );
  margin-bottom: calc(var(--baseline) );
} */


section  p {
  text-rendering: optimizeLegibility;
  /* font-feature-settings: "liga", "dlig"; */
  orphans: 3;
  widows: 2;
  word-break: break-word;
}




section.default h2 {
  font-family: var(--heading);
  font-size:  var(--heading-size);
  line-height: var(--heading-line-height);
  font-weight: var(--heading-weight);
  text-align: left;
  margin: 0;
  padding: 0;
}



blockquote {
  /* ────────────────────────────────────────
   Styles pour les citations longues <blockquote>
   
   blockquote = Élément HTML pour citations de blocs
   Usage : <blockquote>Citation longue...</blockquote>
   ──────────────────────────────────────── */

  margin-block-start: var(--gutter);
  /* ────────────────────────────────────────
	   Marge au DÉBUT du bloc (équivalent a margin-top)
	   ──────────────────────────────────────── */

  margin-block-end: var(--gutter);
  /* ────────────────────────────────────────
	   Marge à la FIN du bloc (équivalent a margin-bottom)
	   ──────────────────────────────────────── */

  margin-inline-start: calc(var(--gutter) * 2); /* 6mm */
  /* ────────────────────────────────────────
	   Marge à GAUCHE du bloc (équivalent a margin-left)
	   ──────────────────────────────────────── */

  margin-inline-end: calc(var(--gutter) * 2); /* 6mm */
  /* ────────────────────────────────────────
	   Marge à DROITE du bloc (équivalent a margin-right)
	   ──────────────────────────────────────── */

  font-style: italic;
}

section[data-split-from] > blockquote {
  /* margin-block-start: unset !important; ???? */
}

/* ────────────────────────────────────────
Contrôle l'épaisseur du éléments en gras.
──────────────────────────────────────── */
b,
strong {
  /* font-variation-settings: "wght" var(--font-weight-bold); */
  font-weight: var(--labeur-bold-weight);
}

/* ────────────────────────────────────────
   font-weight : Contrôle l'épaisseur du texte.
   Attention cela depend des graisses de votre police !
   
   Valeurs numériques courantes :
   • 100, 200, 300 → Texte très fin (thin/light)
   • 400           → Normal 
   • 500, 600      → Medium/Semi-bold
   • 700           → Gras (bold)
   • 800, 900      → Très gras (extra-bold/black)
   ──────────────────────────────────────── */

/* ────────────────────────────────────────
   Gère l'affichage des liens, hyper-texte
   ──────────────────────────────────────── */
a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

a:hover {
  color: var(--link-color-hover);
}
a:active {
  color: var(--link-color-hover);
}
a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
mark {
  padding: 0 0.15em;
  color: white;
}
sub,
sup {
  line-height: 0;
}
sup {
  top: 0.1em;
  position: relative;
}

.small-caps + sup {
  top: 0.25em;
  font-size: 70%;
}

.footnotes {
  display: none;
}


/* ========================================
 * CLASS GENERIQUE
 * ======================================== */

.fullcontent-page {
  --pagedjs-full-content: page;
}


.fullcontent-left {
  --pagedjs-full-content: left;
}

.fullcontent-right {
  --pagedjs-full-content: right;
}


.fullcontent-spread {
  --pagedjs-full-content: spread;
}


.fullpage-page {
  --pagedjs-full-page: page;
}


.fullpage-left {
  --pagedjs-full-page: left;
}

.fullpage-right {
  --pagedjs-full-page: right;
}


.fullpage-spread {
  --pagedjs-full-page: spread;
}

.floatpage-next-page{
	--pagedjs-float-page: next-page;
}

.floatpage-top{
	--pagedjs-float-page: top;
}

.floatpage-bottom{
	--pagedjs-float-page: bottom;
  margin-bottom: 0 !important;
}


.text-left{
text-align: left;
}

.text-right,
.text-right > * {
    text-align: right;
}


.text-center{
    text-align: center;
}
