*,
*:before,
*:after {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

body {
  font-family: var(--labeur);
  font-size: var(--labeur-size);
  line-height: var(--labeur-line-height);
  font-weight: var(--labeur-weight);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

article,
aside,
footer,
/* header, */
hgroup,
main,
nav,
section {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

section {
  display: block;
  padding: 0;
  height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-bottom) - var(--pagedjs-margin-top) );
}

section p {
  /* orphans: 3;
  widows: 2; */
  margin-top: 0;
  margin-bottom: 0;
  text-indent: var(--gutter);
  hyphens: auto !important;
  hyphenate-limit-chars: 7 4 3;
  overflow-wrap: break-word;
}
/*  */
section > p:first-of-type {
  text-indent: 0 !important;
}

section p:first-child {
  text-indent: 0 !important;
}

.small-caps {
  font-variant-caps: all-small-caps;
  line-height: 0;
  font-style: inherit;
}

section h2 {
  font-family: var(--heading);
  font-size: var(--heading-size);
  line-height: var(--heading-line-height);
  font-weight: var(--heading-weight);
  text-align: left;
  margin: 0;
  padding: 0;
}

section h3 {
  font-family: var(--heading);
  font-size: var(--labeur-size);
  /* line-height: 100%; */
  font-weight: var(--labeur-bold-weight);
  /* text-indent: var(--gutter); */
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 0;
  /* margin-bottom: calc( var(--gutter) / 3); */
  transform: translateY(calc( var(--gutter) / -3));
  margin-top: calc( var(--labeur-baseline) * 1.5 );
  margin-left: calc( var(--gutter) );
  letter-spacing: 0.05em; 
}



/* section.default > h3:first-child,
section.default h3:first-child,
section.default h3:first-of-type,
section.default h3:nth-child(1) {
  margin-top: 0 !important;
} */

section.default h3:first-child {
  margin-top: 0;
  transform: translateY(calc( var(--gutter) / -3));
 /* transform: translateY(0); */
 /* margin-bottom: calc( var(--gutter) / 3); */
  
}
section.default h2 {
  margin-bottom: calc( var(--gutter) * 1);
  line-height:100% !important;
}

section.default h2.auteur {
  margin-bottom: calc( var(--gutter) * 8);
  line-height:100% !important;
}


blockquote {
  margin-block-start: var(--gutter);
  margin-block-end: var(--gutter);
  margin-inline-start: calc(var(--gutter) * 2); /* 6mm */
  margin-inline-end: calc(var(--gutter) * 2); /* 6mm */
  font-style: italic;
}

section[data-split-from] > blockquote {

}


hr.footnotes-sep{
  display:none;
}

b,
strong {
  font-weight: var(--labeur-bold-weight);
}

em {
    font-style: italic;
    line-height: 9pt;
     /* transform: translateY(calc( var(--gutter) / -4)); */
     text-indent: 0!important;
     /* display:inline-block; */
}


a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

a:hover {
  color: var(--link-color-hover);
}
a:active {
  color: var(--link-color-hover);
}
a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
mark {
  padding: 0 0.15em;
  color: white;
}
sub,
sup {
  line-height: 0;
}
sup {
  top: 0.1em;
  position: relative;
}

.small-caps + sup {
  top: 0.25em;
  font-size: 70%;
}

.footnotes {
  display: none;
}

/* ========================================
 * CLASS GENERIQUE
 * ======================================== */

.fullcontent-page {
  --pagedjs-full-content: page;
}

.fullcontent-left {
  --pagedjs-full-content: left;
}

.fullcontent-right {
  --pagedjs-full-content: right;
}

.fullcontent-spread {
  --pagedjs-full-content: spread;
}

.fullpage-page {
  --pagedjs-full-page: page;
}

.fullpage-left {
  --pagedjs-full-page: left;
}

.fullpage-right {
  --pagedjs-full-page: right;
}

.fullpage-spread {
  --pagedjs-full-page: spread;
}

.floatpage-next-page {
  --pagedjs-float-page: next-page;
}

.floatpage-top {
  --pagedjs-float-page: top;
}

.floatpage-bottom {
  --pagedjs-float-page: bottom;
  margin-bottom: 0 !important;
}

.text-left {
  text-align: left;
}

.text-right,
.text-right > * {
  text-align: right;
}

.text-center {
  text-align: center;
}
