:root {
  --fullcontent-margin-top: 3.5mm;
  --fullcontent-margin-bottom: 3.5mm;
  --fullcontent-margin-left: 3.5mm;
  --fullcontent-margin-right: 3.5mm;
}

.fig-call{
  font-family: var(--heading);
  font-size: var(--footnote-size);
  line-height: 100%;
  /* font-weight: var(--labeur-weight); */
}

.page-5{
    --pagedjs-full-page: 5;
}

@page fauxtitre:left {
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  margin-right: 0mm;

   @bottom-left {
        display: none;
    }
    
    @bottom-right {
        display: none;
    }
}

@page fauxtitre:right {
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  margin-right: 0mm;

   @bottom-left {
        display: none;
    }
    
    @bottom-right {
        display: none;
    }
}


.fauxtitre{
    page: fauxtitre;
}

.move-18{
  --pagedjs-full-content: spread;
  --pagedjs-full-content: 18;
}



.intervenants h3{
  padding-left: 0;
  padding-top: 0;
  top: 0;
  margin: 0;
}

.intervenants p{
  padding-top: calc( var(--labeur-baseline)  / 2 );
  font-family: var(--heading);
  text-indent: 0 !important;
  /* font-size: var(--footnote-size); */
  line-height: unset !important;
  /* font-weight: var(--footnote-weight); */
  
}

.intervenants .figcaption{
  font-family: var(--heading);
  font-size: var(--footnote-size);
  line-height: var(--footnote-line-height);
  font-weight: 300;
}

.intervenants p.like-h3:first-child,
.intervenants p.like-h3:first-of-type{
  /* margin-top: 0 !important; */
}




.call-figcaption p{
  padding-top: calc( var(--labeur-baseline)  / 4 ) !important;
  padding-bottom: calc( var(--labeur-baseline)  / 4 ) !important;
  margin: 0 !important;
}




[frontmatter-title="chap-3"] p.marge-b {
  margin-top: calc(var(--labeur-baseline) * 1.5);
  margin-bottom: calc(var(--labeur-baseline) / 2);
  margin-left:var(--labeur-baseline);
  text-indent: 0 !important;
}

[frontmatter-title="chap-3"] p:first-child.marge-b {
  margin-top: 0 !important;
}

[frontmatter-title="chap-3"] h4.marge-b{
  line-height: var(--labeur-line-height) !important;
  /* font-weight: var(--labeur-bold-weight); */
}

[frontmatter-title="chap-3"] h3 + p.marge-b {
  margin-top: calc(var(--labeur-baseline) * 1) !important;
}




/* === LETTER SPACING PAR SECTION === */



[frontmatter-title="chap-1-introduction"] p {
  letter-spacing: calc(0 * -0.001em);
}

[frontmatter-title="chap-2"] p {
  letter-spacing: calc(0 * -0.001em);
}

[frontmatter-title="colloque-1"] p {
  letter-spacing: calc(8 * -0.001em);
}

[frontmatter-title="chap-3"] p {
  letter-spacing: calc(0 * -0.001em);
}

[frontmatter-title="colloque-2"] p {
  letter-spacing: calc(0 * -0.001em);
}

[frontmatter-title="chap-4"] p {
  letter-spacing: calc(8 * -0.001em);
}

[frontmatter-title="pour-un-manifeste"] p{
  letter-spacing: calc(0 * -0.001em);
}

[frontmatter-title="pour-un-manifeste"] h2{
  text-indent: 0;
  letter-spacing: 0 !important;
  margin-bottom: 0 !important;
  line-height: calc(var(--labeur-line-height) * 2);
  padding-bottom: calc(var(--labeur-line-height) * 2) !important;
  /* position: relative;
  top: 10px; */
}

[frontmatter-title="pour-un-manifeste"] .auteur{
  text-indent: 0;
  letter-spacing: 0 !important;
  margin-bottom: 0 !important;
}

.manifeste-marge{
 padding-bottom: calc(var(--labeur-baseline) * 21 );
}


.pagedjs_page {
  background-color: var(--bg-color, white) !important;
}


@page manifeste{

}

section .manifeste{
  page: manifeste;
  page-break-before: always;
}

section.manifeste p{
  orphans: 1 !important;
  widows: 1 !important;
}

#figure{
  --pagedjs-full-page: page;
  width: 100%;
  height: 100%;
  margin: 0px;
}

img {
    object-fit: cover;
    object-position: 0px 0px;
    width: 100%;
    height: 100%;
}



figure.chap {
 
  /* width: 100% !important; */
}

.chap.page-droite {
  /* --pagedjs-full-page: page */
  /* width: 100% !important; */
}


h1.toc-only {
  display: none;
}

h2.toc-only {
  display: none;
}

h3.toc-only {
  display: none;
}