:root {
  --fullcontent-margin-top: 3.5mm;
  --fullcontent-margin-bottom: 3.5mm;
  --fullcontent-margin-left: 3.5mm;
  --fullcontent-margin-right: 3.5mm;
}

.fig-call{
  font-family: var(--heading);
  font-size: var(--footnote-size);
  line-height: 100%;
  /* font-weight: var(--labeur-weight); */
}

.page-5{
    --pagedjs-full-page: 5;
}

@page fauxtitre:left {
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  margin-right: 0mm;

   @bottom-left {
        display: none;
    }
    
    @bottom-right {
        display: none;
    }
}

@page fauxtitre:right {
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  margin-right: 0mm;

   @bottom-left {
        display: none;
    }
    
    @bottom-right {
        display: none;
    }
}


.fauxtitre{
    page: fauxtitre;
}

.move-18{
  --pagedjs-full-content: spread;
  --pagedjs-full-content: 18;
}



.intervenants h3{
  margin: 0;
  padding: 0;
}

.intervenants p{
  margin-top: calc( var(--gutter)  / 2 );
  font-family: var(--heading);
  text-indent: 0;
  /* font-size: var(--footnote-size); */
  /* line-height: var(--footnote-line-height); */
  /* font-weight: var(--footnote-weight); */
}

.intervenants .figcaption{
  font-family: var(--heading);
  font-size: var(--footnote-size);
  line-height: var(--footnote-line-height);
  font-weight: 300;
}

.intervenants p.like-h3:first-child,
.intervenants p.like-h3:first-of-type{
  /* margin-top: 0 !important; */
}


.intervenants em {
    line-height: unset !important;
    text-indent: 0 !important;
}