@page interview {
  margin-top: 15mm;
  margin-bottom: 34mm;
  margin-left: 76.7mm;
  margin-right: 15mm;
}

/* @page interview:left {
  margin-top: 15mm;
  margin-bottom: 34mm;
  margin-left: 15mm;
  margin-right: 76.7mm;
} */

.interview {
	page: interview;
  page-break-before: always;
	page-break-after: always;

}


.interview p:first-of-type{
   margin-top: 0 !important;             
   margin-block-start: 0 !important;       
}

.interview p {
	--indent: 76.7mm;
	margin-left: -76.7mm;
	max-width: none;
	padding-left: var(--indent);
  text-indent: unset;
  margin-bottom: calc(var(--gutter) / 2);
}

.interview p:first-child  {
  text-indent: unset;
}


.interview :not([data-split-from]) strong:first-child {
    margin-left: calc(var(--indent) * -1);
    min-width: calc(var(--indent) - 1em);
    width: 0;
    position: absolute;
    text-align: right;
    text-decoration: none;
   
}
