:root {
  --list-marker-color: #666;
  --list-bullet-size: 0.4em;
  --list-dash-width: 0.8em;
  --list-indent: calc(var(--labeur-baseline) * 1); /* 11.5pt */
}

ul {
  list-style-type: '\200B';
  padding-inline-start: var(--list-indent);
  margin-block-start: 0;
  margin-block-end: calc(var(--labeur-baseline) / 2); /* 5.75pt */
}

ul li {
  padding-top: calc(var(--labeur-baseline) / 2);
  padding-bottom: 0;
  line-height: var(--labeur-line-height); /* 11.5pt */
  position: relative;
  text-align: start;
}

ul li::marker {
  color: transparent;
  content: '';
}



ul li::before {
  content: '–';
  position: absolute;
  left: calc(-1 * var(--list-indent));
  top: calc(var(--labeur-baseline) / 2);
  /* color: var(--list-marker-color); */
  width: var(--list-dash-width);
  text-align: center;
  pointer-events: none;
  font-weight: normal;
}

/* Puces rondes */
ul.round-bullets li::before {
  content: '';
  /* background-color: var(--list-marker-color); */
  border-radius: 50%;
  width: var(--list-bullet-size);
  height: var(--list-bullet-size);
  top: calc(var(--labeur-baseline) / 2 + 0.5em);
  left: calc(-1 * var(--list-indent) + 0.4ch);
}