:root {
--tab: 4mm;
}


.sidenote-container {
  font-family: var(--footnote);
  font-size: var(--footnote-size);
  line-height: var(--footnote-line-height);
  font-weight: var(--footnote-weight);
  /* color: var(--font-note-color); */
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height:100%;
  
}


.pagedjs_left_page .sidenote-container {
    padding-left: var(--tab);
    padding-right: 25.5mm;
}

.pagedjs_right_page .sidenote-container {
    padding-left: 25.5mm;
    padding-right: var(--tab);
}

.sidenote-container .sidenote {
    display: block;
    margin-top: calc( var(--footnote-line-height) / 3);
    /* overflow: hidden; */
}

/* Pages de droite : numéro dépasse à gauche dans la marge */
.pagedjs_right_page .sidenote-container .sidenote {
    padding-left: var(--tab);
}

.pagedjs_right_page .pagedjs_sidenote_marker {
    float: left;
    width: var(--tab);
    margin-left: calc(var(--tab) * -1);
}

/* Pages de gauche : numéro dépasse à gauche dans le padding du container */
.pagedjs_left_page .sidenote-container .sidenote {
    padding-left: var(--tab);
}

.pagedjs_left_page .pagedjs_sidenote_marker {
    float: left;
    width: var(--tab);
    margin-left: calc(var(--tab) * -1);
}


.pagedjs_sidenote_call{
  /* content: attr(data-counter-note); */
  font-family: var(--footnote);
  padding-left: 0.0ch;
  font-weight: var(--footnote-weight);
  top: 1px;
  position: relative;
  line-height: 0;
  font-size: 0.6em !important;
  vertical-align: super;

    /* vertical-align: super;
    font-size: 58.3%; 
    line-height: 0; */
}



