:root {
  --heading: "PostGrotesk", sans-serif;
  --labeur: "KingsCaslon", serif;
  --sommaire: "PostGrotesk", sans-serif;
  --footnote: "PostGrotesk", sans-serif;

  --text-color: rgba(0, 0, 0, 1);

  /* --heading-size: calc(var(--labeur-size) * 2);
  --heading-line-height: calc(var(--labeur-line-height) * 2);
  --heading-weight: normal; */

  /* --heading-size: 13.8pt;       
  --heading-line-height: 23pt;   */

  
  --heading-size: 17.25pt;       /* 1.5 × baseline */
  --heading-line-height: 23pt;   /* 2 × baseline */

  --heading-h3-size: var(--labeur-size); 

  --labeur-size: 9.5pt;
  --labeur-line-height: 11.5pt;
  --labeur-weight: 400; 
  --labeur-bold-weight: 600;
  --labeur-baseline: 11.5pt; /* 4.06 mm 15.33 px (à 96 DPI standard) */

  --footnote-size: 6pt;
  --footnote-line-height: 7.2pt;
  /* --footnote-line-height: calc(var(--labeur-baseline) / 1.5 ); */
  --footnote-weight: 400;
  --footnote-bold-weight: 600;

  --caption: var(--labeur), serif;
  --caption-size: 9pt;
  --caption-line-height: 12pt;
  --caption-weight: 300;
  --caption-bold-weight: 400;

  
  --gutter: var(--labeur-baseline);

}

/*  */
/* font-weight: 100; Thin (Hairline) */
/* font-weight: 200; Extra Light (Ultra Light) */
/* font-weight: 300; Light */
/* font-weight: 400; normal */
/* font-weight: 500; Medium */
/* font-weight: 600; Semi Bold (Demi Bold) */
/* font-weight: 700; gras / bold */
/* font-weight: 800; Extra Bold (Ultra Bold) */
/* font-weight: 900; Black (Heavy) */
/* font-weight: 950; Extra Black (Ultra Black) */