@page textCol {
 
}

[data-template="textCol"],
[data-template="bibliographie"],
.bibliographie {
  page: textCol;
  page-break-before: always;
 

  --g-column-count: var(--grid-col, 2);
  --g-column-gutter: var(--grid-col-gutter, var(--gutter));
  columns: var(--g-column-count);
  column-gap: var(--g-column-gutter);
  column-fill: auto;
  /* columnn-fill: balance; */

  font-family: var(--labeur);
  font-size: 9pt;
  line-height: 12pt;
}




[data-template="textCol"] h2,
[data-template="bibliographie"] h2,
.bibliographie h2 {
  column-span: all;
  font-family: var(--heading);
  font-size: 28pt;
  line-height: 33.6pt;
  font-weight: normal;
  text-align: center;

  margin: 0;
  padding: 0;


  
}

[data-template="textCol"] h3,
[data-template="bibliographie"] h3,
.bibliographie h3 {
  font-family: var(--heading);
  font-weight: bold;
}


.textCol h3:first-of-type { 
  column-span: all;
}

[data-template="textCol"] p,
[data-template="bibliographie"] p,
.bibliographie p {
  break-inside: avoid;
}


