[data-template="chapitre"] {
  page: chapitre;
  /* color: white; */
  page-break-before: always;
  height: calc(var(--pagedjs-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom) - var(--pagedjs-bleed-top) - var(--pagedjs-bleed-bottom));
}

@page chapitre:left {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 15mm;
    margin-right: 76.7mm;
    /* background-color: var(--bg-color, white); */
    --folio: none;
}

@page chapitre:right {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 76.7mm;
    margin-right: 15mm;
    /* background-color: var(--bg-color, white); */
    --folio: none;
}


.chapitre .auteur,
[data-template="chapitre"] .auteur{
  font-family: var(--heading);
  /* font-weight: 900; */
  font-size: 9.5pt;
  margin-bottom: calc(var(--gutter) * 2);
  text-transform: uppercase;
}


.manifeste .auteur{
  margin-bottom: calc(var(--gutter) * 17 + 1mm);

}

.chapitre ol {
  font-family: var(--heading);
  /* font-weight: 900; */
  font-size: 9.5pt;
  margin:0;
  padding:0;
  text-transform: uppercase;
  margin-left: calc(var(--gutter) * 1);
}

.chapitre ol li{
  margin:0;
  padding:0;
  margin-bottom: calc(var(--gutter) / 4);
}



.chapitre h2,
[data-template="chapitre"] h2{
  /* font-family: var(--labeur);
  font-weight: 900;
  font-size: 24pt;
  line-height: 110%;
  margin-bottom: calc(var(--gutter) * 2); */
  line-height: 110%;
  margin-bottom: calc(var(--gutter) * 1);
}
