
@page introColloque1:left,
@page introColloque2:left {
    margin: 15mm 25.5mm 34mm 15mm;
}

@page introColloque1:right,
@page introColloque2:right {
    margin: 15mm 15mm 34mm 25.5mm;
}

@page introColloque1:left {
    background-color: #444E60;
}

@page introColloque1:right {
    background-color: #fff;
}


@page introColloque2:left,
@page introColloque2:right {
    background-color: rgba(84, 79, 71, 1);
}

/* Styles de marge PagedJS */
.pagedjs_colloque1_page .pagedjs_margin-content::after,
.pagedjs_colloque2_page .pagedjs_margin-content::after {
    color: white;
}

.pagedjs_colloque1_first_page .pagedjs_margin-content,
.pagedjs_colloque2_first_page .pagedjs_margin-content{
display:none;
}

/* Templates */
[data-template="introColloque1"],
[data-template="introColloque2"] {
    /* page-break-before: always; */
}

[data-template="introColloque1"] {
    /* page: introColloque1; */
    /* height: 230mm !important; */
}

[data-template="introColloque2"] {
    /* page: introColloque2; */
}

/* Styles de contenu */
.introColloque-1,
.introColloque-2 {
    color: white;
}

.colloque .centre h2 {
    font-size: 27pt;
    line-height: 100%;
    margin-bottom:var(--gutter);
        
}

.colloque .centre p {
    color: #DBD0B1;
}


.colloque .surtitre,
.colloque .centre,
.colloque .centre h2,
.colloque .lieu {
    text-align: center;
    font-family: var(--heading);
}

.colloque .surtitre {
    text-transform: uppercase;
    font-family: var(--heading);
}