
/* Styles de contenu */
.introColloque-1,
.introColloque-2 {
    color: white;
}

.colloque .centre h2 {
    font-family: var(--heading);
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    margin-bottom:var(--gutter);
        
}

.colloque .centre p {
    color: #DBD0B1;
}


.colloque .surtitre,
.colloque .centre,
.colloque .centre h2,
.colloque .lieu {
    text-align: center;
    font-family: var(--heading);
}

.colloque .surtitre {
    text-transform: uppercase;
    font-family: var(--heading);
}