@page introColloque1 { 

}

@page introColloque1:left {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 15mm;
    margin-right: 25.5mm;
    background-color: #444E60;
}

@page introColloque1:right {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 25.5mm;
    margin-right: 15mm;
    background-color: #fff;
}


@page introColloque2 { 

}

@page introColloque2:left {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 15mm;
    margin-right: 25.5mm;
    background-color: rgba(84, 79, 71, 1);
}

@page introColloque2:right {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 25.5mm;
    margin-right: 15mm;
    background-color: rgba(84, 79, 71, 1);
}



[data-template="introColloque2"] {
  page: introColloque2;
	page-break-before: always;
}

[data-template="introColloque1"] {
  page: introColloque1;
	page-break-before: always;
  height: 230mm !important;
}

section{
  
}

.introColloque-1,
.introColloque-2{
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; */

  /* display: flex;
  flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100%;
	flex: 1; 
	padding: 0; */
}


[data-template="introColloque1"] .surtitre{

}

[data-template="introColloque1"] .titre{
/* margin-bottom: auto; */
}

[data-template="introColloque1"] .avec{
/* margin-bottom: auto; */
}

[data-template="introColloque1"] .lieu{

}

