 @page textCol {  
  background-color: var(--bg-color, white);
}



@page textCol:left {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 15mm;
    margin-right: 25.5mm;
    @bottom-left {
        color: white !important;
    }
}

@page textCol:right {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 25.5mm;
    margin-right: 15mm;
    @bottom-right {
        color: white !important;
    }
}

[data-template="textCol"] {
  page: textCol;
   
}

[data-template="textCol"] {
  page-break-before: always;
  font-family: var(--heading);
  font-weight: 400;
  --g-column-count: var(--grid-col, 2);
  --g-column-gutter: var(--grid-col-gutter, 0mm);
  columns: var(--grid-col);
  column-gap: var(--grid-col-gutter);
  column-fill: auto;
}




[data-template="textCol"] h3{
  margin-top:0;
  margin-bottom: calc(var(--gutter) / 2);
  transform: translateY(0) !important; 
}

.colloque1,
.colloque2 {
  color: white;
}

.colloque1 h3{
  color: #DBD0B1;
}

.colloque2 h3{
  color: #DBD0B1;
}

p.like-h3{
  margin-top: calc(var(--gutter) * 1) !important;
  margin-bottom: calc(var(--gutter) / 2);
  transform: translateY(0) !important;
  margin-left: calc(var(--gutter))!important;
  letter-spacing: 0.05em;
  text-indent:0 !important;
  line-height: 110%;
  color: #DBD0B1;
}

p.like-h3:first-child,
p.like-h3:first-of-type{
  margin-top: 0 !important;
}


[data-template="textCol"] p + h3 {
  margin-top: calc(var(--gutter) * 3) !important;
}

[data-template="textCol"] .header-colloque{
  margin-bottom: calc(var(--gutter) * 3);
  max-width: 65ch;
  font-family: var(--labeur);
}

[data-template="textCol"] p{
  orphans: 1; /* Minimum de lignes en bas de colonne */
  widows: 1; /* Minimum de lignes en haut de colonne */
  
}

.span-all {
  column-span: all;
}
