 @page textCol {  
  background-color: var(--bg-color, white);
}



@page textCol:left {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 15mm;
    margin-right: 25.5mm;
    @bottom-left {
        color: white !important;
    }
}

@page textCol:right {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 25.5mm;
    margin-right: 15mm;
    @bottom-right {
        color: white !important;
    }
}

[data-template="textCol"] {
  page: textCol;
  page-break-before: always;
}

[data-template="textCol"] {
  
  font-family: var(--heading);
  font-weight: 400;
  --g-column-count: var(--grid-col, 2);
  --g-column-gutter: var(--grid-col-gutter, 0mm);
  columns: var(--grid-col);
  column-gap: var(--grid-col-gutter);
  column-fill: auto;
}




[data-template="textCol"] h3{
  /* padding-top: 0;
  top: 0px ; */
}

.colloque1,
.colloque2 {
  color: white;
}

.colloque2 h3,
.colloque1 h3{
  color: #DBD0B1;
}



p.like-h3{
  /* padding-top: calc(var(--labeur-baseline) * 1) !important;
  padding-bottom: calc(var(--labeur-baseline) / 2);
  transform: translateY(0) !important;
  margin-left: calc(var(--alinea))!important;
  letter-spacing: 0.05em;
  text-indent:0 !important;
  line-height: 110%; */
  color: #DBD0B1;
}

[data-template="textCol"] p{
  orphans: 1 !important; 
  widows: 1 !important; 
}

[data-template="textCol"] .header-colloque{
  padding-bottom: calc(var(--labeur-line-height) * 3);
  max-width: 70ch;
  font-family: var(--labeur);
}





[data-template="textCol"] p + h3 {
  padding-top: calc(var(--labeur-line-height) * 3);
}

[data-template="textCol"] h3.sans-marge {
  padding-top: 0 !important;
  top: 0px ;
}




.span-all {
  column-span: all;
}
