@page textCol {

}

@page textCol:left {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 15mm;
    margin-right: 25.5mm;
}

@page textCol:right {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 25.5mm;
    margin-right: 15mm;
}

[data-template="textCol"],
.bibliographie {
  page: textCol;
  page-break-before: always;
  page-break-after: always;

  --g-column-count: var(--grid-col, 2);
  --g-column-gutter: var(--grid-col-gutter, var(--gutter));
  columns: var(--g-column-count);
  column-gap: var(--g-column-gutter);
  column-fill: auto;
  /* columnn-fill: balance; */


}

.span-all{
  column-span: all;
}


[data-template="textCol"] h2,
.bibliographie h2 {
  column-span: all;
  margin: 0;
  padding: 0;
}

[data-template="textCol"] h3,
.bibliographie h3 {
  margin: 0;
  padding: 0;
  column-span: all;

}

.textCol h3:first-of-type { 
  column-span: all;
}

[data-template="textCol"] p,
[data-template="bibliographie"] p,
.bibliographie p {
  break-inside: avoid;
}

.bibliographie p:first-of-type {
  margin-top: 0 !important;
}
