 @page textCol {  
  background-color: rgba(68, 78, 96, 1);
}



@page textCol:left {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 15mm;
    margin-right: 25.5mm;
}

@page textCol:right {
    margin-top: 15mm;
    margin-bottom: 34mm;
    margin-left: 25.5mm;
    margin-right: 15mm;
}

[data-template="textCol"] {
  page: textCol;
  

}

.colloque-1{
  color: white;
}


[data-template="textCol"] {

  page-break-after: always;

  font-family: var(--heading);
  font-weight: 400;

  --g-column-count: var(--grid-col, 2);
  --g-column-gutter: var(--grid-col-gutter, 0mm);

  columns: var(--grid-col);
  column-gap: var(--grid-col-gutter);
  column-fill: auto;

  

}

[data-template="textCol"] h3{
  margin-top:0;
  margin-bottom: calc(var(--gutter) / 2);
  transform: translateY(0) !important; 
  
}


[data-template="textCol"] .header-colloque{
  margin-bottom: calc(var(--gutter) * 4);
    max-width: 65ch;
    font-family: var(--labeur);
}



.span-all {
  column-span: all;
}

.bibliographie p:first-of-type {
  margin-top: 0 !important;
}
