@page tabledesmatieres:left {
  /* margin-top: 15mm;
  margin-bottom: 34mm;
  margin-left: 15mm;
  margin-right: 15mm; */
  margin-right: 25mm;

  @bottom-left {
    /* display: none; */
  }
  
  @bottom-right {
    /* display: none; */
  }
}

@page tabledesmatieres:right {
  /* margin-top: 15mm;
  margin-bottom: 34mm;
  margin-left: 15mm;
  margin-right: 15mm; */
  margin-left: 25mm;

  @bottom-left {
    display: none;
  }
  
  @bottom-right {
    display: none;
  }
}

[data-template="toc"] {
  page: tabledesmatieres;
  page-break-before: right;
}

.toc #nav-toc {
  font-family: var(--heading);
  font-size: var(--labeur-size);
  line-height: var(--labeur-line-height);
  text-align: left;
}

.toc #list-toc-generated {
  list-style: none;
  padding: 0;
  margin: 0; 
  text-align: left;
}

.toc a {
  text-decoration: none;
}

.toc #list-toc-generated li:first-child {
  margin-top: 0;
}

.toc #list-toc-generated .toc-element a {
  font-family: var(--heading);
  font-size: var(--labeur-size);
  line-height: var(--labeur-line-height);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.toc #list-toc-generated .toc-element a::after {
  content: target-counter(attr(href), page);
  margin-left: auto;
  padding-left: calc(var(--alinea) * 2);
}

/* Retraits par niveau hiérarchique */
.toc #list-toc-generated .toc-element-level-1 a {
  margin-left: 0;
  padding-top: calc(var(--labeur-line-height) / 1);
}

.toc #list-toc-generated .toc-element-level-1:first-of-type a {
  margin-left: 0;
  padding-top: 0;
}

.toc #list-toc-generated .toc-element-level-2 a {
  margin-left: var(--alinea);
}

.toc #list-toc-generated .toc-element-level-3 a {
  margin-left: calc(var(--alinea) * 2);
}

.toc #list-toc-generated li {
  padding-top: calc(var(--labeur-line-height) / 4);
}

.toc #list-toc-generated li:first-child,
.toc #list-toc-generated li.auteur {
  padding-top: 0;
  margin-inline-start: unset;
}

