:root {
  --text-color: #BAB6B6;
  --toc-number-color: var(--text-color);

}

@page tabledesmatieres:left {
  margin-right: 25mm;
  
  @bottom-left {
    /* display: none; */
  }
  
  @bottom-right {
    /* display: none; */
  }
}

@page tabledesmatieres:right {
  margin-left: 25mm;

  @bottom-left {
    display: none;
  }
  
  @bottom-right {
    display: none;
  }
}

[data-template="toc"] {
  page: tabledesmatieres;
  page-break-before: right;
}

.toc #nav-toc {
  font-family: var(--heading);
  font-size: var(--labeur-size);
  line-height: var(--labeur-line-height);
  text-align: left;
}

.toc #list-toc-generated {
  list-style: none;
  padding: 0;
  margin: 0; 
  text-align: left;
  counter-reset: level1;
}

.toc a {
  text-decoration: none;
  color: inherit;
}

.toc #list-toc-generated li {
  padding-left: 0;
  padding-bottom: 0;
 
}

.toc #list-toc-generated li:first-child {
  margin-top: 0;
}

/* Reset des compteurs par niveau */
.toc #list-toc-generated .toc-element-level-1 {
  counter-reset: level2;
  counter-increment: level1;
  font-weight: 500;
}

.toc #list-toc-generated .toc-element-level-2 {
  counter-reset: level3;
  counter-increment: level2;
}

.toc #list-toc-generated .toc-element-level-3 {
  counter-increment: level3;
}

/* Structure block simple */
.toc #list-toc-generated .toc-element a {
  font-family: var(--heading);
  font-size: var(--labeur-size);
  line-height: var(--labeur-line-height);
  display: block;
  position: relative;
  padding-right: 10ch;
  
}

/* Numérotation selon le niveau */
.toc #list-toc-generated .toc-element-level-1 a::before {
  content: counter(level1, upper-roman) " ";
  color: var(--toc-number-color, var(--text-color));
}

.toc #list-toc-generated .toc-element-level-2 a::before {
  /* content: counter(level2) ". "; */
  color: var(--toc-number-color, var(--text-color));
}

.toc #list-toc-generated .toc-element-level-3 a::before {
  /* content: counter(level2) "." counter(level3) ". "; */
  color: var(--toc-number-color, var(--text-color));
}

/* Numéro de page à droite en position absolue */
.toc #list-toc-generated .toc-element a::after {
  content: target-counter(attr(href), page);
  position: absolute;
  right: 0;
  top: 0;
}

/* Alinéas par niveau hiérarchique */
.toc #list-toc-generated .toc-element-level-1 {
  padding-top: calc(var(--labeur-line-height) / 1);
}

.toc #list-toc-generated .toc-element-level-1:first-of-type {
  padding-top: 0;
}

.toc #list-toc-generated .toc-element-level-2 {
  /* padding-left: var(--alinea); */
  padding-top: calc(var(--labeur-line-height) / 4);
}

.toc #list-toc-generated .toc-element-level-3 {
  padding-left: calc(var(--alinea) * 2);
  padding-top: calc(var(--labeur-line-height) / 4);
}

.toc #list-toc-generated li:first-child,
.toc #list-toc-generated li.auteur {
  padding-top: 0;
  margin-inline-start: unset;
}


.toc-participants{
  padding-top: 1mm;
  font-weight: 300;
}

.toc-surtitre{
  font-weight: 300;
}


[data-counter-level2-value="5"],
[data-counter-level2-value="6"],
[data-counter-level2-value="7"],
[data-counter-level2-value="8"],
[data-counter-level2-value="9"],
[data-counter-level2-value="10"],
[data-counter-level2-value="11"],
[data-counter-level2-value="12"],
[data-counter-level2-value="13"]{
  padding-top: 0 !important;
  padding-left: calc(var(--alinea) * .5) !important;
}

[data-counter-level2-value="5"]{
  padding-top: calc(var(--labeur-line-height) / 4) !important;
}